/*
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6

- Letter spacing
-0.5px
0.75px

--- 02 COLORS

- Primary: #e67e22
- Tints:
#fdf2e9
#fae5d3
#eb984e

- Shades:
#cf711f
#45260a

- Accents:
- Greys

#888
#767676 (lightest grey allowed on #fff)
#6f6f6f (lightest grey allowed on #fdf2e9)
#555
#333

--- 05 SHADOWS

0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

--- 06 BORDER-RADIUS

Default: 9px
Medium: 11px

--- 07 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

/* Global Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Variable */
:root {
  --primary-color: #e67e22;
  --tint-color: #fdf2e9;
  --shade-color: #cf711f;
}

/* Typography */
html {
  font-family: "Rubik", sans-serif;
  font-size: 62.5%;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

/* Component */
body {
}

/* General Reusesable Components */
.heading-primary {
  /* Layout */
  margin-bottom: 3.2rem;

  /* Typography */
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.05;
  color: #333;
  letter-spacing: -0.5px;
  /* Style */
}

.btn:link,
.btn:visited {
  /* Layout */
  display: inline-block;
  padding: 1.6rem 3.2rem;
  /* Typography */
  font-size: 2rem;
  text-decoration: none;

  /* Style */
  border-radius: 9px;
  transition: all 0.3s;
}
.btn--full:link,
.btn--full:visited {
  background-color: var(--primary-color);
  color: #fff;
}
.btn--outline:link,
.btn--outline:visited {
  background-color: #fff;
  color: #555;
}
.btn--full:hover {
  background-color: var(--shade-color);
}
.btn--outline:hover {
  background-color: var(--tint-color);
  color: #555;
  box-shadow: inset 0 0 0 3px #fff;
}

.margin-right-sm {
  margin-right: 1.6rem !important;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--tint-color);

  /* To make sticky nav */
  height: 9.6rem;

  padding: 0 4.8rem;
}

.logo {
  height: 2.2rem;
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.main-nav-list li a:link,
.main-nav-list li a:visited {
  display: inline-block;
  text-decoration: none;
  color: #555;
  font-weight: 500;
  font-size: 1.8rem;

  transition: all 0.3s;
}

.main-nav-list li a.nav-cta:link,
.main-nav-list li a.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: var(--tint-color);
  background-color: var(--primary-color);
}

.main-nav-list li a:hover,
.main-nav-list li a:active {
  color: var(--primary-color);
}
.main-nav-list li a.nav-cta:hover,
.main-nav-list li a.nav-cta:active {
  background-color: var(--shade-color);
}

/* Hero */
.section-hero {
  /* Layout */
  padding: 4.8rem 0 9.6rem 0;
  /* Typography */
  /* Style */
  background-color: var(--tint-color);
}

.hero {
  /* Layout */
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;

  max-width: 130rem;
  margin: 0 auto;

  padding: 0 3.2rem;
  /* Typography */

  /* Style */
}

.hero-description {
  /* Layout */
  margin-bottom: 4.8rem;

  /* Typography */
  font-size: 2rem;
  line-height: 1.6;
  /* Style */
}

.delivered-meals {
  /* Layout */
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 8rem;

  /* Typography */
  /* Style */
}

.delivered-imgs {
  /* Layout */
  display: flex;

  /* Typography */
  /* Style */
}

.delivered-imgs img {
  /* Layout */
  height: 4.8rem;
  width: 4.8rem;
  margin-right: -1.6rem;

  /* Typography */
  /* Style */
  border-radius: 50%;
  border: 3px solid var(--tint-color);
}
.delivered-imgs img:last-child {
  margin: 0;
}

.delivered-text {
  /* Layout */
  /* Typography */
  font-size: 1.8rem;
  font-weight: 600;
  /* Style */
}

.delivered-text span {
  color: var(--shade-color);
  font-weight: 700;
}

.hero-img {
  width: 100%;
}
